/* Hero-sektion med stort billede  */
.hero-section {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
}

.hero-image {
  width: 100%;
  height: auto;
  display: block;
  transform: translateY(-70px); 
}

/* Eventuelle links under hero (hvis de bruges) */
.frontpage-auth-links {
  text-align: center;
  padding: 30px 0 40px 0;
}

.frontpage-auth-links a {
  color: #f1f97e;              /* Citrus tekst - Har fundet den ved at undersøge layoutet fra Understory */
  text-decoration: none;
  margin: 0 8px;
  font-size: 14px;
}

.frontpage-auth-links a:hover {
  text-decoration: underline;
}

/* Boksen ved hero-logoet */
.frontpage-action-box {
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 16px;
  z-index: 10;
  width: 260px;
}

/* Knapper i boksen  */
.action-btn {
  padding: 14px 20px;
  border-radius: 14px;
  background-color: #f1f97e;   /* Citrus */
  color: #214E27;            /* Grøn tekst */
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  transition: 0.2s ease;
  border: none;
  cursor: pointer;
}

.action-btn:hover {
  background-color: #e4ee74;
}

/* Informationssektion i bunden af forsiden */
.frontpage-bottom-info {
  background-color: #214E27;   /* Main grøn */
  text-align: center;
  padding: 0px 60px;
}

.frontpage-bottom-info h2 {
  font-size: 28px;
  font-weight: 800;            /* Tyk skrift */
  margin-bottom: 12px;
  letter-spacing: 1px;
  color: #ffffff;             /* Citrus overskrift "Nem kommunikation..." */
}

.frontpage-bottom-info p {
  font-size: 17px;
  opacity: 0.9;
  margin: 0;
  color: #ffffff;              /* Citrus undertekst */
}
